@import url(varibles.css);

.container_menu{
    background: var(--backgraund-color_menu);
    width: 100%;
    min-height: 50px;
    position: relative;
}

.container_menu .container_img_logo{
    left: 30px;
    min-height: 50px;
    position: absolute;
    color: var(--color-text-menu);
    width: 20%;
}

.container_menu .container_perfil{
    color: var(--color-text-menu);
    position: absolute;
    width: 30%;
    min-height: 50px;
    right: 10px;
}

.container_menu .container_perfil .container_name_user{
    background: magenta;
    position: relative;
    width: 50%;
    max-height: 30px;
    margin-top: 10px;
    float: left;
}

.container_menu .container_perfil .container_img_profile{
    background: seagreen;
    position: relative;
    width: 20%;
    max-height: 30px;
    margin-top: 10px;
    float: left;
}