body{
    background: url(../img/img_fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container_principal{
    width: 50%;
    min-height:250px;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
}

.container_principal .container_form{
    background: var(--backgraund-color-div);
    min-height: 250px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 15px;
}

.container_principal .container_form h1{
    color: var(--color-text-menu);
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    font-size: var(--font-size-tittle);
    padding-top: var(--padding);
}

.container_principal .container_form .input_text{
    background: none;
    margin-left: 10px;
    margin-top: 30px;
    font-size: var(--font-size-s);
    color: var(--color-text-input);
    border: none;
    border-bottom: 1px solid var(--third-color);
    outline: none;
}

.container_principal .container_form .btn_input{
    background-color: var(--btn-backgraund-color);
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    width: 100px;
    color: var(--color-text-input);
    font-size: var(--font-size-s);
    transition: 1s;
}

.container_principal .container_form .btn_input:hover{
    background: var(--btn-backgraund-color-hover);
    color: var(--btn-text-color);
}
