@import url(barra_usuario.css);
@import url(botones_turnos.css);

.container_principal{
    width: 100%;
    min-height: 890px;
    position: relative;
}

.container_principal .container_tabla_turnos{
    color: var(--color-text-input);
    border: 1px solid var(--backgraund-color_menu);
    width: 70%;
    height: auto;
    right: 15%;
    position: absolute;
    margin-top: 100px;
}

.container_principal .container_tabla_turnos .tabla_turnos{
    min-width: 100%;
    font-size: 25px;
    height: auto;
    border-collapse: collapse;
}

.container_principal .container_tabla_turnos .tabla_turnos .titulos_tabla th{
    background: var(--backgraund-color_menu);
    max-width: 100%;
    height: 70px;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    vertical-align: middle;
}

.container_principal .container_tabla_turnos .tabla_turnos .info_turnos {
    height: 150px;
}

.container_principal .container_tabla_turnos .tabla_turnos .info_turnos td{
    text-align: center;
    color: black;
    vertical-align: middle;
    border-collapse: collapse;
    font-family: 'Ubuntu Condensed', sans-serif;
}

#h1FechaCronograma{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 50px;
    margin-top: 50px;
}


.container_principal .container_tabla_turnos .tabla_turnos .info_turnos .turno_no_escogido,
.container_principal .container_tabla_turnos .tabla_turnos .info_turnos .turno_no_disponible,
.container_principal .container_tabla_turnos .tabla_turnos .info_turnos .turno_escogido,
.container_principal .container_tabla_turnos .tabla_turnos .info_turnos .turno_en_proceso {
    display: inline-block;
    width: 60%;
    margin: 0;
    padding: var(--padding-s);
    font-size: 20px;
    border: 0;
    border-radius: 0.4rem;
    box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
    appearance: none;
    cursor: pointer;
    transition: 1s;
}

.container_principal .container_tabla_turnos .tabla_turnos .info_turnos .turno_no_escogido:hover,
.container_principal .container_tabla_turnos .tabla_turnos .info_turnos .turno_no_disponible:hover,
.container_principal .container_tabla_turnos .tabla_turnos .info_turnos .turno_escogido:hover,
.container_principal .container_tabla_turnos .tabla_turnos .info_turnos .turno_en_proceso:hover {
    background-color: white;
    padding: var(--padding);
}


.container_principal .container_tabla_turnos .tabla_turnos .info_turnos .turno_no_escogido {
    background-color: rgb(202, 199, 199);
}
.container_principal .container_tabla_turnos .tabla_turnos .info_turnos .turno_no_escogido::before {
    content:'Vacio';
}

.container_principal .container_tabla_turnos .tabla_turnos .info_turnos .turno_no_disponible {
    background-color: rgb(255, 166, 166);
}
.container_principal .container_tabla_turnos .tabla_turnos .info_turnos .turno_no_disponible::before{
    content: 'Lleno';
}

.container_principal .container_tabla_turnos .tabla_turnos .info_turnos .turno_escogido {
    background-color: rgb(176, 255, 216);
}
.container_principal .container_tabla_turnos .tabla_turnos .info_turnos .turno_escogido:before {
    content: 'Escogido';
}


.container_principal .container_tabla_turnos .tabla_turnos .info_turnos .turno_en_proceso {
    background-color: rgb(255, 246, 162);
}
.container_principal .container_tabla_turnos .tabla_turnos .info_turnos .turno_en_proceso::before {
    content:'Disponible';
}









#ventana-emergente {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 217, 255, 0.308);
    z-index: 1000;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display:none;
}

#ventana-emergente .empleados-boton {
    position: relative;
    width: 800px;
    height: 400px;
    background-color: var(--backgraund-color_menu);
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#ventana-emergente .empleados-boton #nombres-empleados {
    width: 90%;
    height: 70%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

#ventana-emergente .empleados-boton #nombres-empleados p{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

#ventana-emergente .empleados-boton #nombres-empleados #titulo_empleados{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: var(--font-size-tittle);
    text-align: center;
}

#ventana-emergente .empleados-boton #boton-turno {
    margin-top: 20px;
    min-width:100px;
    left: 180px;
    padding: 2px;
    margin-top: 30px;
    background: var(--btn-backgraund-color);
    border: none;
    border-bottom: 1px solid var(--border-color-div);
    transition: 1s;
    color: var(--color-text-input);
    font-size: 20px;
    margin-left: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#ventana-emergente .empleados-boton #boton-cerrar {
    position: absolute;
    top: 10px;
    right: 20px;
    min-width:100px;
    padding: 2px;
    background: var(--btn-backgraund-color);
    border: none;
    border-bottom: 1px solid var(--backgraund-color_menu);
    transition: 1s;
    color: var(--color-text-input);
    font-size: 20px;
    border-radius: 5px;
}

#ventana-emergente .empleados-boton #boton-turno:hover,
#ventana-emergente .empleados-boton #boton-cerrar:hover{
    background-color: var(--btn-backgraund-color-hover);
    color: var(--btn-text-color);
}