/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --primary-color:  #14244c;
    --secundary-color:  #4493d2;
    --third-color: #e8e1df;
    --fourth-color: #b8c6d6;

    --padding: 12px;
    --padding-s: 10px;
    --padding-xs: 8px;

    --font-size-tittle: 26px;
    --font-size-s: 18px;
    --font-size-xs: 14px;
    --font-size-xsl: 12px;

    --backgraund-color: var(--fourth-color);
    --backgraund-color-a: var(--third-color);
    --backgraund-color-div: var(--primary-color);
    --backgraund-color_menu: var(--primary-color);
    --background-table: var(--third-color);
    --background-table-tbody: var(--fourth-color);
    --border-buttom-table: var(--primary-color);
    --border-color-div: var(--fourth-color);
    --icon-color: var(--secundary-color);
    --text-color-h1:var(--secundary-color);
    --color-text-menu: var(--third-color);
    --color-text-input:var(--third-color);
    --btn-text-color: var(--third-color);
    --btn-backgraund-color: var(--secundary-color);
    --btn-backgraund-color-hover: var(--third-color);
    
}