@import url(../barra_usuario.css);

.container_table{
    background: var(--background-table);
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
} 

.container_table .tabla_ver_personas{
    width: 100%;
    border-collapse: collapse;
}

.container_table .tabla_ver_personas,
.container_table .tabla_ver_personas th,
.container_table .tabla_ver_personas td{
    padding: var(--padding-xs);
}

.container_table .tabla_ver_personas th{
    font-weight: bolder;
    text-align: left;
    border-bottom: 1px solid var;
}
